body {
    background-color: rgb(226, 208, 118);
    font-size: 16px;
    font-family: 'Playfair Display', serif;
}

.jumbotron {
    background-color: rgba(255, 255, 255, 0.466);
}

#buttons {
    display: flex;
    justify-content: left;
}

@media screen and (min-width: 767px) {
    #buttons {
        display: none;
    }
}

#cards {
    display: flex;
    justify-content: center; 
}

@media screen and (max-width: 768px) {
    #cards {
        display: none;
    }
}

.contactinfo {
    justify-content: center;
}
