html {
    height: 100%;
    width: 100%;
    margin: 0%;
}    

body {
    height: 100%;
    width: 100%;
    margin: 0%;
    display: flex;
    overflow: hidden;
    background-image: url("./IMG/background.svg");
    background-size: cover;
    background-repeat: no-repeat;
    }
}

.sky .street {
    position: relative;
}

.moon {
    position: absolute;
    top: 23%;
    left: 45%;
    width: 70px;
    animation: jerk 2500ms normal 3 cubic-bezier(0.51,-0.01, 0.36, 1.77);
}

@keyframes jerk {
    0% {
        top: 23%;
        left: 45%;
    }

    35% {
        top: 28%;
        left: 48%;
    }

    75% {
        top: 18%;
        left: 50%;
    }

    100% {
        top: 23%;
        left: 45%;
    }
}

.greenstar {
    position: absolute;
    top: 15%;
    left: 8%;
    width: 30px;
    transition: transform 500ms 100ms linear;
}

.greenstar:hover {
    transform: scale(1.5) rotate(360deg);
}

.orangestar {
    position: absolute;
    top: 20%;
    left: 28%;
    width: 30px;
    animation: twinkle 1000ms 100ms linear normal infinite;
}

@keyframes twinkle {
    0% {
        scale:(1.0);
        -webkit-transform: scale(1.0);
    }

    50% {
        scale:(0.1);
        -webkit-transform: scale(0.1);
    }

    100% {
        scale:(1.0);
        -webkit-transform: scale(1.0);
    }
}

.cyanstar {
    position: absolute;
    top: 6%;
    left: 50%;
    width: 30px;
    transition: transform 150ms 100ms ease-in-out;
}

.cyanstar:hover {
    transform: skew(70deg,70deg);
    -webkit-transform: skew(70deg,70deg);
}

.yellowstar {
    position: absolute;
    top: 20%;
    left: 70%;
    width: 30px;
    transition: transform 300ms 100ms ease-in-out;
}

.yellowstar:hover {
    transform: scale(2.5);
}

.ghost {
    position: absolute;
    top: 75%;
    left: 0%;
    width: 60px;
    animation: haunt 10000ms 100ms linear normal infinite;
}

@keyframes haunt {
    0% {
        top: 75%;
        left: 0%;
    }

    17% {
        top: 70%;
        left: 17%;
    }

    34% {
        top: 75%;
        left: 34%;
    }

    51% {
        top: 70%;
        left: 51%;
    }

    68% {
        top: 75%;
        left: 68%;
    }

    85% {
        top: 70%;
        left: 85%;
    }

    100% {
        top: 75%;
        left: 100%;
    }
}